:root{
    --pinky: #f582ae;
    --bluey1: #00ebc7;
    --bluey2: #8bd3dd;
    --neutral: #00214d;
    --base100: #fef6e4;
    --orangy: #f25f4c;
  }
  
  *{
    margin: 0;
    scroll-behavior: smooth;
  }
  body{
    font-family: "Barriecito", serif;
    text-align: center;
    background-color: var(--base100);
  }
  h1,h2,h3,h4,h5,h6{
    font-family: "Barriecito", serif;
  
  }
  h1{
    font-size: 60px;
  }
  .barriecito-regular {
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
  } 
  .coming-soon-regular {
    font-family: "Coming Soon", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  #navbar{
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--pinky);
  padding: 20px 0;
  border-bottom: 1px solid var(--neutral);
  }
  .nav-links{
    display: flex;
    list-style: none;
    font-family: "Barriecito", serif;
  }
  .nav-links a{
    text-decoration: none;
    padding: 0 10px;
    color: var(--base100)
  }
  .nav-links a:hover{
    text-decoration: underline;
  
  }
  section{
    padding: 70px 0;
    min-height: 100vh;
  
  }
  #welcome-section{
    background-color: var(--pinky);
    color: var(--bluey1);
    display: flex;
    flex-direction: column;
  
  }
  #welcome-section h1{
  margin-top: 30vh;
  
  }
  #welcome-section p{
  color: var(--base100);
  font-size: 25px;
  margin: 25px 0;
  font-style: italic;
  
  }
  #projects{
    background-color: var(--bluey2);
    color: var(--base100)
  }
  #projects h1{
    border-bottom: 5px solid var(--neutral);
    width: fit-content;
    margin: auto;

  }
  #projects .projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 20px;
    place-items: center;
    max-width: 1200px;
    margin: auto;
  }
  #projects .project-tile{
    height: 525px;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--pinky);
    text-decoration: none;
   color: var(--base100);
   border-radius: 5px;
   box-shadow: 8px 8px 10px 5px rgba(100, 100, 100, 0.3);
  }
  #projects .project-tile img{
    height: 100%;
    width: 100%;
    object-fit: cover;

  }
  #projects .project-tile p{
    font-size: 25px;
    padding: 10px;
  }
  #projects .project-tile span{
    opacity: 0%;
    padding: 0 5px;

  }
  #projects .project-tile:hover span{
    opacity: 100%;
    color: var(--bluey2);
    transition: opacity 0.25s ease-in;
  }
  .show-all{
    text-decoration: none;
    width: max-content;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0px 15px;
    background-color: var(--base100);
    color: var(--bluey2);
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in;

  }
  .show-all:hover{
background-color: var(--neutral);
color: var(--kacky)
  }
  #contact {
    background-color: var(--pinky);
    color: var(--bluey1);
    
  }
  
  
  #contact h1{
    margin-top: 300px;
  }
  #contact .question{
    color: var(--base100);
  font-size: 25px;
  font-style: italic;
  }
  #contact .social-medias{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: space-around;
    margin: auto;
    margin-top: 30px;
  }
  #contact .social-media{
    text-decoration: none;
    color: var(--neutral);
    transition: trasnform 2s ease-in;
    display: flex;
    align-items: center;
    margin: 20px;
    font-size: 22px;
  }
  #contact .social-media:hover{
    transform: translateY(10px);
  }
  .footer{
    border-top: 3px solid var(--neutral);
    color: var(--base100);
    font-size: 25px;
    padding: 30px;
  }
  #photo-me {
    margin-top: 30px;
    margin-bottom: 10px;
    
    height: 525px;
    color: var(--base100);
    border-radius: 100%;
  }
  @media only screen and( width <700 px){
    h1{
      font-size: 50px;
    }
    #projects .project-tile{
      height: 600px;
      width: 100%;
    }
  }
  